@page "/diffdemo"

    <div class="p-2 border border-secondary rounded">

        <h2>Diff inputs</h2>
        <br />

        <h4>@DiffInputTitle.First</h4>
        <div class="row">
            <div class="col-6">
                <div class="bg-info text-white pl-2">type text or markdown...</div>
                <textarea class="form-control" @bind-value="Body1" @bind-value:event="oninput"></textarea>
            </div>
            <div class="col-6">
                <div class="bg-info text-white pl-2">and see it in HTML</div>
                @((MarkupString) Preview1)
            </div>
        </div>
        <br />

        <h4>@DiffInputTitle.Second</h4>
        <div class="row">
            <div class="col-6">
                <div class="bg-info text-white pl-2">type text or markdown...</div>
                <textarea class="form-control" @bind-value="Body2" @bind-value:event="oninput"></textarea>
            </div>
            <div class="col-6">
                <div class="bg-info text-white pl-2">and see it in HTML</div>
                @((MarkupString) Preview2)
            </div>
        </div>
        <br />
    </div>
    <br />


    <div class="p-2 border border-secondary rounded">
        <h2>Diff outputs</h2>
        <br />

        <h3>Inline</h3>
        <div class="bg-light">
            <Diff FirstInput=@Preview1
                  SecondInput=@Preview2 />
        </div>
        <br />

        <h4>Row</h4>
        <Diff FirstInput=@Body1
              SecondInput=@Body2
              FirstTitle=@DiffInputTitle.First
              SecondTitle=@DiffInputTitle.Second
              OutputFormat=@DiffOutputFormat.Row 
              Style=@DiffStyle.Word />
        <br />

        <h4>Column</h4>
        <Diff FirstInput=@Body1
              SecondInput=@Body2
              FirstTitle=@DiffInputTitle.First
              SecondTitle=@DiffInputTitle.Second
              OutputFormat=@DiffOutputFormat.Column
              Style=@DiffStyle.Word />
        <br />
    </div>
    <br/>


