
@page "/"

    <div class="m-5" />

    <h1 class="text-center">Blazorme</h1>
    <img class="mx-auto d-block img-fluid" src="me.png" />
    <h5 class="mt-2 text-center">Component libraries, © melihercan@@2020</h5>
